*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
}

.main-header {
    color: white;
}

.navbar {
    justify-content: center;
}

.aside {
    background-color: #f9f9f9;
}

/* .forecast,
.weather-info {
    background-color: blue;
} */

.navbar {
    width: 100%;
}

.weatherForecast, .weather-info{
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    padding: 20px;
}
.moderate {
    background-color: blue;
    border-radius: 10px;
    padding: 6px;
    box-shadow:  0 0 5px black;
}
.high {
    background-color: yellow;
    border-radius: 10px;
    padding: 6px;
    box-shadow:  0 0 5px black;
}
.veryHigh {
    background-color: orange;
    border-radius: 10px;
    padding: 6px;
    box-shadow:  0 0 5px black;
}
.extreme {
    background-color: red;
    border-radius: 10px;
    padding: 6px;
    box-shadow:  0 0 5px black;
}
.hide {
    display: none;
}